{
  "arrowParens": "always",
  "bracketSpacing": true,
  "disableLanguages": ["vue"],
  "endOfLine": "auto",
  "eslintIntegration": false,
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "typescript",
  "printWidth": 120,
  "proseWrap": "always",
  "requireConfig": false,
  "semi": false,
  "singleQuote": true,
  "stylelintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "tslintIntegration": false,
  "useTabs": false
}
